body,html, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, table, tr, th, td, thead, dl, dd, dt, img, div, button, input, textarea, select,span,i,label,a,br {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0; padding:0;}
body,html{max-width:1024px;min-width:320px;margin:0 auto;background:#fff;color:#494949;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;}
input,textarea,button,select{/*高亮颜色*/-webkit-tap-highlight-color:transparent;/*去掉按钮样式*/appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;}
input {vertical-align:middle;background:none;outline:none;border:0;}
textarea {outline:none;/*取消右下角可拖曳放大*/ resize:none;}
button{background:none; border:0;font-size: 100%;outline: none;text-transform: none;}
select{font-size: 100%;vertical-align:middle;outline:none;text-transform: none;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/select::-ms-expand { display: none; }
a {/*去掉a标签下划线*/text-decoration: none; outline:none;color: #494949;cursor:pointer;/*设置a标签点击高亮问题*/-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*四个“状态”的先后过程是：a:link ->a:hover ->a:active ->a:visited。*/
a:hover, a:visited, a:link, a:active {text-decoration: none;color: #494949;}
ul,li,ol {list-style: none;list-style-type:none;}
table {border-spacing: 0;/*边框合并*/border-collapse:collapse;}
img {border: 0;vertical-align: middle;}
p, h1, h2, h3, h4, h5, h6{font-weight: normal;}
/*清楚占位符样式*/
::-webkit-input-placeholder{color: #333;}
:-moz-placeholder{color: #333;}
:-moz-placeholder{color: #333;}
:-ms-input-placeholder{color: #333;}
.clearfix::after,.clearfix::before {content:'';display: table;clear: both;}
.fl {float: left;}
.fr {float: right;}
